<nav class="navbar navbar-expand-sm  navbar-dark fixed-top">

  <a class="navbar-brand" href="#"><font color="#FF6F00" face="cursive" size="6"><strong>Master Auto</strong></font></a>
  <div class="ml-5">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Assitance Technique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tunnig</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Maintenance
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">RDV à Domicile</a>
          <a class="dropdown-item" href="#">RDV au magasin</a>

        </div>
      </li>
    </ul>
  </div>
  <div class="ml-auto">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-map-marker"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fa fa-user"></i>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Se Connecter</a>
          <a class="dropdown-item" href="#">S'enregistrer</a>
        </div>
      </li>
      <li class="nav-item">

        <a class="nav-link" href="#"><span style="padding-right: 20px">|</span><i class="fa fa-instagram"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
      </li>
    </ul>
  </div>
</nav>




