.carousel-item {
  background: no-repeat center center scroll;
}

.carousel-caption {
  bottom: 270px;
}

.carousel-caption h3 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 10px;
  line-height: 1.9;
}

.carousel {
  padding-top: 70px;
}

i {
  font-size: 80px;
  color: #FF6F00;
}

.fa:hover {
  font-size: 90px;
  color: black;
}

.block-icons {
  margin: 80px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.btn-perso {
  background-color: white;
  color: black;
  border: 2px solid #FF6F00;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-perso:hover {
  background-color: #FF6F00;
  color: white;
}
