.dropdown-toggle {
  margin: 20px;
  color: black;
  background-color: white;
  border-color: black;
}

.container {
  padding-left: 230px;
}
.btn{

  margin: 20px;
}
.div-validation{
  padding-left: 500px;
}
.rdv-case{
  cursor: pointer;
  background-color:#FF6F00;
  color: white;
}
.rdv-case:hover{
  background-color: white;
  color: #FF6F00;
}
.case-vide{
  background-color: white;
  cursor:default;
}
.title-h1 {
  font-size: 26px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.title-h2 {
  font-weight: 400;
  line-height: 27px;
  color: #666;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
