.dropdown-toggle {
  margin: 20px;
  color: black;
  background-color: white;
  border-color: black;
}

.container {
  padding-left: 230px;
}
.btn{

  margin: 20px;
}
.div-validation{
  padding-left: 400px;
}
.rdv-case{
  cursor: pointer;
  background-color:#FF6F00;
  color: white;
}
.rdv-case:hover{
  background-color: white;
  color: #FF6F00;
}
.case-vide{
  background-color: white;
  cursor:default;
}

