<div class="div"></div>
<h2>Formulaire</h2>
<p>Merci de selectionner les </p>
<div class="container">

  <select class="btn   dropdown-toggle">
    <option> Marque</option>
    <option *ngFor="let m of marques"> {{m.nomMarque}}</option>
  </select>
  <select class="btn   dropdown-toggle">
    <option> Model</option>
    <option *ngFor="let mod of models"> {{mod.nomModel}} | {{mod.dateModel}}</option>
  </select>
  <select class="btn   dropdown-toggle">
    <option> Catégorie</option>
    <option *ngFor="let c of categories"> {{c.nomCategorie}}</option>
  </select>
  <select class="btn   dropdown-toggle">
    <option> Type de Carburant</option>
    <option *ngFor="let carb of carburants"> {{carb.nomCarburant}}</option>
  </select>
</div>

<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">9h00 - 11h00</th>
    <th scope="col">11h00 - 13h00</th>
    <th scope="col">14h00 - 16h00</th>
    <th scope="col">16h00 - 18h00</th>
  </tr>
  </thead>
  <tbody *ngIf="dates" class="tbody">
  <tr *ngFor="let d of dates">
    <th scope="row">{{d | date:'dd-LL-yyyy'}}</th>
    <td [ngClass]="{'rdv-case':true ,'case-vide':cnt===true}"
        (click)="onAjouterDate(d.toLocaleDateString() +' (9h-11h)')"></td>
    <td [ngClass]="{'rdv-case':true ,'case-vide':cnt===true}"
        (click)="onAjouterDate(d.toLocaleDateString() +' (11h-13h)')"></td>
    <td [ngClass]="{'rdv-case':true ,'case-vide':cnt===true}"
        (click)="onAjouterDate(d.toLocaleDateString() +' (14h-16h)')"></td>
    <td [ngClass]="{'rdv-case':true ,'case-vide':cnt===true}"
        (click)="onAjouterDate(d.toLocaleDateString() +' (16h-18h)')"></td>
  </tr>
  </tbody>
</table>
<div class="alert alert-success" *ngIf="cnt===true">Rdv prit pour le
  <strong>{{date}}</strong> <a class="alert-link" (click)="onResetCnt()" style="cursor: pointer;"> . Cliquer ici pour
    changer de date</a>.
</div>
<br>
<div class="md-form">
  <label for="form7"><strong>Merci d'expliquer votre probléme ici :</strong></label>
  <textarea id="form7" class="md-textarea form-control" rows="3" [(ngModel)]="commentaire"></textarea>
</div>

<div class="container div-validation">
  <button class="btn btn-outline-success" (click)="onSave()">Valider</button>
  <button class="btn btn-outline-success">imprimer le recu</button>
</div>

