.page-footer {
  /*background-color: #FF6F00;*/
  background-image: linear-gradient(to right, #FF6F00,#dd5e00,#dd5e00,#FF6F00);
}
.text-uppercase{
 color:black;
}
.btn-floating{
  color: black;
}
.a{
  color:white;
}
