<app-header></app-header>
<router-outlet></router-outlet>
<footer class="page-footer font-small mdb-color pt-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left mt-3 pb-3">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold"><font
          face="cursive">Master Auto</font></h6>
        <p class="a">
          Le groupe MasterAuto propose à ses client un service de transport voitures pour  amener votre voiture chez nous.</p>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold"><font
          face="cursive">Services</font></h6>
        <p>
          <a href="#!" class="a">Diagnostic</a>
        </p>
        <p>
          <a href="#!" class="a">Service Rapide</a>
        </p>
        <p>
          <a href="#!" class="a">Tuning</a>
        </p>
        <p>
          <a href="#!" class="a">Assistance Technique</a>
        </p>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold"><font
          face="cursive">Liens utiles</font></h6>
        <p>
          <a class="a" href="#!">Votre Compte</a>
        </p>
        <p>
          <a class="a" href="#!">Promotions</a>
        </p>
        <p>
          <a class="a" href="#!">Réservation</a>
        </p>
        <p>
          <a class="a" href="#!">Aide</a>
        </p>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold"><font
          face="cursive">Contact</font></h6>
        <p class="a">
          <i class="fa fa-home mr-3"></i> Marrakech,Almassar, Maroc</p>
        <p class="a">
          <i class="fa fa-envelope mr-3"></i>Master@Auto.com</p>
        <p class="a">
          <i class="fa fa-phone mr-3"></i>+ 212 234 567 88</p>
        <p class="a">
          <i class="fa fa-print mr-3"></i> + 212 234 567 89</p>
      </div>
    </div>
    <hr>
    <div class="row d-flex align-items-center">
      <div class="col-md-7 col-lg-8">
        <p class="text-center text-md-left">© 2019 Copyright:
          <a routerLink="../Accueil" class="btn-floating">
            <strong> MasterAuto.com</strong>
          </a>
        </p>
      </div>
      <div class="col-md-5 col-lg-4 ml-lg-0">
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="">
                <i class="fa fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


