<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<br><br><br>
<div class="first-div">
  <div class="second-div" *ngIf="authenticated==null">
    <span class="first-a">
    <a (click)="onAuthenticated()"><strong>Client chez nous ? </strong>Identifiez-vous,pour prendre un Rdv.</a>
      </span>
  </div>
  <div class="third-div">
    <h1 class="title"><strong>Aide et Contact</strong></h1>
    <div class="input-group">
      <input type="text" class="form-control first-input" placeholder="Votre demande ? " [(ngModel)]="chaineString">
      <div class="input-group-append">
        <button class="btn button-recherche" type="button" data-toggle="modal" data-target="#myModal4"
                (click)="onChercheContact()">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <br>
    <div class="notice  text-center">
      <p>Vous pouvez écrire, par exemple :</p>
      <p> «Mécanique »,«électrique» ou «refroidissement»</p>
    </div>
    <a href="/Ath#assitanceTechnique">
      <button class="first-btn"> Assistance technique
        <strong><i
          class="fa fa-chevron-down"
          style="padding-left: 4px;"></i></strong>
      </button>
    </a>
  </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<br>
<div class="logo-div2" style="padding-bottom: 50px;">
  <span style="padding-left: 40px;"></span>
  <img src="../../assets/images/Bosch.png" width="100" height="100" class="logo">
  <span style="padding-left: 60px;"></span>
  <img src="../../assets/images/Continental.png" width="100" height="100" class="logo">
  <span style="padding-left: 60px;"></span>
  <img src="../../assets/images/Hoosier-Racing.png" width="100" height="100" class="logo">
  <span style="padding-left: 60px;"></span>
  <img src="../../assets/images/Firestone-logo.png" width="200" height="100" class="logo">
</div>
<div class="container">
  <hr>
  <!------------------------------------------------------------------------------------------------------------------->
  <a name="assitanceTechnique" class="encre">1</a>
  <div class="col-md-6">
    <h1 class="title-h1">Assistance Technique & Dépannage</h1>
    <br>
    <h2 class="title-h2">Retrouvez les réponses à vos questions portant sur l’installation, l’utilisation et le
      dépannage de votre voiture.</h2>
    <br>
  </div>
  <div class="col-md-10 ">
    <h1 class="title-h1">Que souhaitez-vous faire ?</h1>
    <div class="div-a-ath">
      <button class="first-a-ath" data-toggle="collapse" data-target="#collapse1" (click)="onAllAth()">Changement de
        piéces
      </button>
      <button class="first-a-ath" data-toggle="collapse" data-target="#collapse2" (click)="onAllDepannage()">Dépannage
      </button>
      <button class="first-a-ath" data-toggle="collapse" data-target="#collapse3" (click)="onAllFichier()">
        fichiers
        techniques
      </button>
    </div>
  </div>

  <div class="container">
    <!------------collpase changement de pieces ------------------------------------------------------------------------>
    <div id="collapse1" class="collapse" *ngIf="nbr==='A'">
      <div *ngIf="isTech || isAdmin">
        <form #f="ngForm" (ngSubmit)="onAddAth(f.value)">
          <div class="row">
            <div class="col-md-12 div-perso">
              <input type="text" class=" form-control w3-border w3-animate-input " ngModel name="nomAth"
                     placeholder="piéce à changer"
                     style="width:30%;">
              <br>
              <textarea id="form7" class=" form-control w3-border w3-animate-input" rows="3" ngModel name="discription"
                        placeholder="Discription" style="width:30%"></textarea>
              <br>
              <button type="submit" class="btn btn-perso2" style="background-color: white; color: black;">
                Sauvgarder
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-12">
        <div class="form-inline form-group" *ngIf="aths!=null">
          <div *ngFor="let a of aths">
            <a class="sec-a-ath " data-toggle="collapse" data-target="#collapse1-1" (click)="onGetAth(a.id)">{{a.nomAth}}</a>
          </div>
        </div>
      </div>
    </div>
    <!--collpase Dépannage----------------------------------------------------------------------------------------------->
    <div id="collapse2" class="collapse " *ngIf="nbr==='B'">
      <div *ngIf="isTech || isAdmin">
        <form #f="ngForm" (ngSubmit)="onAddDepannage(f.value)">
          <div class="row">
            <div class="col-md-12 div-perso">
              <input type="text" class=" form-control w3-border w3-animate-input" ngModel name="nomDepannage"
                     placeholder="Nom du service de dépannage" style="width:30%">
              <br>
              <textarea id="form8" class="md-textarea form-control w3-border w3-animate-input" rows="3" ngModel
                        name="discription"
                        placeholder="Discription" style="width:30%"></textarea>
              <br>
              <button type="submit" class="btn btn-perso2" style="background-color: white; color: black;">
                Sauvgarder
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-12">
        <div class="form-inline form-group" *ngIf="depannages!=null">
          <div *ngFor="let d of depannages">
            <a class="sec-a-ath " data-toggle="collapse" data-target="#collapse1-2" (click)="onGetDepannage(d.id)">{{d.nomDepannage}}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- collpase Consulter les fichiers techniques---------------------------------------------------------------------->
    <div id="collapse3" class="collapse " *ngIf="nbr==='C'">
      <div class="row container">
        <div class="col-md-12">
          <div class="container" *ngIf="isTech || isAdmin">
            <br><br>
            <form #f="ngForm" (ngSubmit)="onAddFichierTechnique(f.value)">
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class=" form-control w3-border w3-animate-input " ngModel name="nomFichier"
                         placeholder="Nom De fichier" style="width:30%">
                  <br>
                  <input type="text" class=" form-control  w3-border w3-animate-input " ngModel name="discription"
                         placeholder="Discription" style="width:30%">
                  <br>
                  <input type="file" (change)="onSelectedFileTech($event)">
                  <br><br>
                  <button type="submit" class="btn btn-perso2"
                          style="background-color: white; color: black;">
                    Sauvgarder
                  </button>
                  <br>
                </div>
              </div>
            </form>
          </div>
          <br>
          <table class="table table-condensed" *ngIf="fichiers!=null">
            <thead>
            <tr>
              <th>Nom du Fichier Technique</th>
              <th>Discription</th>
              <th>Fichier Technique</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let f of fichiers">
              <td>{{f.nomFichier}}</td>
              <td>{{f.discription}}</td>
              <td>
                <a href="{{this.athService.host +'/FichierTechnique/fichierPDF/' + f.id}}" target="_blank"
                   style="color: #FF6F00;">Consulter <i class="fa fa-file-pdf-o" style="padding-left: 15px;"></i></a>
              </td>
              <td>
                <button data-toggle="modal" data-target="#myModal2" (click)="onGetFichier(f.id)" class="btn-fa"
                        *ngIf="isTech || isAdmin"><i
                  class="fa fa-edit"></i></button>
                <button (click)="onRemoveFichier(f.id)" class="btn-fa" *ngIf="isTech || isAdmin"><i
                  class="fa fa-remove"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- sous collpase changement de piéces ---------------------------------------------------------------------------->
  <div id="collapse1-1" class="collapse " *ngIf="nbr==='A' && nbr2 ==='AA'">
    <div class=" container">
      <div class="col-md-12">
        <div class="form-inline form-group">
          <div class="div-collpase " *ngIf="athObj!=null">
            <h1>{{athObj.nomAth}}</h1>
            <p>{{athObj.discription}} </p>
            <p>
              <button class="btn btn-perso2" data-toggle="modal" data-target="#myModal" *ngIf="isTech || isAdmin">
                Modifier
              </button>
              <span class="span-perso"></span>
              <button class="btn btn-outline-danger btn-perso3" (click)="onDeleteAth(athObj.id)"
                      *ngIf="isTech || isAdmin">Supprimer
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--sous collpase depannage------------------------------------------------------------------------------------------>
  <div id="collapse1-2" class="collapse " *ngIf="nbr==='B' && nbr2==='BB'">
    <div class=" container">
      <div class="col-md-12">
        <div class="form-inline form-group">
          <div class="div-collpase " *ngIf="depannage!=null">
            <h1>{{depannage.nomDepannage}}</h1>
            <p>{{depannage.discription}} </p>
            <p>
              <button class="btn btn-perso2" data-toggle="modal" data-target="#myModal1" *ngIf="isTech || isAdmin">
                Modifier
              </button>
              <span class="span-perso"></span>
              <button class="btn btn-outline-danger btn-perso3 " (click)="onDeleteDepannge(depannage.id)"
                      *ngIf="isTech || isAdmin">Supprimer
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--contact------------------------------------------------------------------------------------------------------------>
<div class="container">
  <hr>
  <a name="contacts" class="encre">1</a>
  <div class="col-md-6">
    <h1 class="title-h1">Contact</h1>
    <h2 class="title-h2">Retrouvez les contacts les plus utiles en cas d'urgence.</h2>
  </div>
  <div *ngIf="isTech || isAdmin">
    <form #f="ngForm" (ngSubmit)="onAddContact(f.value)">
      <div class="row">
        <div class="col-md-12">
          <input type="text" class=" form-control form-control w3-border w3-animate-input" ngModel name="nom"
                 placeholder="Nom " style="width:30%">
          <br>
          <input type="text" class=" form-control form-control w3-border w3-animate-input" ngModel name="specialite"
                 placeholder="spécialtité" style="width:30%">
          <br>
          <input type="number" class=" form-control form-control w3-border w3-animate-input " ngModel name="numTel"
                 placeholder="numéro télephone" style="width:30%">
          <br>
          <input type="text" class=" form-control form-control w3-border w3-animate-input" ngModel name="email"
                 placeholder="Email" style="width:30%">
          <br>
          <button type="submit" class="btn btn-perso2" style="background-color: white; color: black;">
            Sauvgarder
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="container">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Nom</th>
        <th>N° Téléphone</th>
        <th>Email</th>
        <th>Spécialité</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of contacts">
        <td>{{c.nom}}</td>
        <td>0{{c.numTel}}</td>
        <td>{{c.email}}</td>
        <td>{{c.specialite}}</td>
        <td>
          <button data-toggle="modal" data-target="#myModal3" (click)="onGetContact(c.id)" class="btn-fa"
                  *ngIf="isTech || isAdmin"><i
            class="fa fa-edit"></i>
          </button>
          <button (click)="onDeleteContact(c.id)" class="btn-fa" *ngIf="isTech || isAdmin"><i class="fa fa-remove"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--Model chengement de piéces----------------------------------------------------------------------------------------->
<div class="modal fade" id="myModal" *ngIf="athObj!=null ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Merci de modifier le service</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form #f="ngForm" (ngSubmit)="onUpdateAth(f.value)">
        <div class="modal-body">
          <input type="text" class=" form-control padding" name="nomAth"
                 [(ngModel)]="athObj.nomAth">
          <br>
          <input type="text" class=" form-control padding" name="discription"
                 [(ngModel)]="athObj.discription">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-perso2 "
                  style="background-color: white; color: black;">Sauvgarder
          </button>
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal"
                  style="background-color: white; color: black;">Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!---Model depannage--------------------------------------------------------------------------------------------------->
<div class="modal fade" id="myModal1" *ngIf="depannage!=null ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Merci de modifier le service</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form #f="ngForm" (ngSubmit)="onUpdateDepannage(f.value)">
        <div class="modal-body">
          <input type="text" class=" form-control padding" name="nomDepannage"
                 [(ngModel)]="depannage.nomDepannage">
          <br>
          <input type="text" class=" form-control padding" name="discription"
                 [(ngModel)]="depannage.discription">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-perso2 "
                  style="background-color: white; color: black;">Sauvgarder
          </button>
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal"
                  style="background-color: white; color: black;">Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Modal fichier technique-------------------------------------------------------------------------------------------->
<div class="modal fade" id="myModal2" *ngIf="fichier!=null ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Merci de modifier le service</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form #f="ngForm" (ngSubmit)="onUpdateFichierTechnique(f.value)">
        <div class="modal-body">
          <input type="text" class=" form-control padding" name="nomFichier"
                 [(ngModel)]="currentFichier.nomFichier">
          <br>
          <input type="text" class=" form-control padding" name="discription"
                 [(ngModel)]="currentFichier.discription">
          <input type="file" (change)="onSelectedFileTech($event)">
          <br>
        </div>
        <br>
        <div class="modal-footer">
          <button type="submit" class="btn btn-perso2 "
                  style="background-color: white; color: black;" (click)="uploadFichiterTechnique()">Sauvgarder
          </button>
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal"
                  style="background-color: white; color: black;">Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Modal Contact------------------------------------------------------------------------------------------------------>
<div class="modal fade" id="myModal3" *ngIf="contact!=null ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Merci de modifier les coordonnées</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form #f="ngForm" (ngSubmit)="onUpdateContact(f.value)">
        <div class="modal-body">
          <input type="text" class=" form-control padding" name="nom"
                 [(ngModel)]="contact.nom">
          <br>
          <input type="text" class=" form-control padding" name="specialite"
                 [(ngModel)]="contact.specialite">
          <br>
          <input type="number" class=" form-control padding" name="numTel"
                 [(ngModel)]="contact.numTel">
          <br>
          <input type="email" class=" form-control padding" name="email"
                 [(ngModel)]="contact.email">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-perso2 "
                  style="background-color: white; color: black;">Sauvgarder
          </button>
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal"
                  style="background-color: white; color: black;">Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Modal Recherche Contact-------------------------------------------------------------------------------------------->

<div class="modal fade bd-example-modal-lg" id="myModal4" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true" *ngIf="chaineString!=null">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Votre résultat</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <table class="table table-condensed table-hover">
          <thead>
          <tr>
            <th>Nom</th>
            <th>N° Téléphone</th>
            <th>Email</th>
            <th>Spécialité</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of contactsCherche">
            <td>{{c.nom}}</td>
            <td>0{{c.numTel}}</td>
            <td>{{c.email}}</td>
            <td>{{c.specialite}}</td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal"
                style="background-color: white; color: black;">Annuler
        </button>
      </div>
    </div>
  </div>
</div>
